.crewContainer {
  max-width: 1440px;
  width: 100vw;
  max-height: 900px;
  height: fit-content;
  background-color: #0b0d17;
  background-image: url('/assets/crew/background-crew-desktop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 2rem;
  @media screen and (max-height: 630px) {
    overflow: hidden;
  }

  main {
    width: 100%;
    height: fit-content;
    display: flex;
    padding-left: 165.23px;
    margin-top: 50px;
    @media screen and (min-height: 630px) {
      margin-top: 62px;
    }

    .crew-content {
      width: fit-content;
      height: fit-content;
      margin-right: 81.43px;

      h3,
      h4,
      h5 {
        color: #fff;
        font-style: normal;
        line-height: normal;
        text-transform: uppercase;
      }
      h5 {
        font-family: Barlow Condensed;
        font-size: 28px;
        font-weight: 400;
        letter-spacing: 4.725px;
        margin-bottom: 54px;

        @media screen and (min-height: 630px) {
          margin-bottom: 154px;
        }

        span {
          font-weight: 700;
          opacity: 0.25;
          margin-right: 24px;
        }
      }

      h4 {
        font-family: Bellefair;
        font-size: 32px;
        font-weight: 400;
        opacity: 0.5;
        margin-bottom: 15px;
      }

      h3 {
        font-family: Bellefair;
        font-size: 56px;
        font-weight: 400;
        margin-bottom: 27px;
      }

      p {
        width: 444px;
        color: #d0d6f9;
        font-family: Barlow;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        margin-bottom: 30px;

        @media screen and (min-height: 630px) {
          margin-bottom: 120px;
        }
      }

      .circles {
        width: 132px;
        height: 15px;
        flex-shrink: 0;
        display: flex;
        justify-content: space-between;
        @media screen and (min-height: 630px) {
          margin-bottom: 1rem;
        }

        .single-circle {
          width: 15px;
          height: 15px;
          flex-shrink: 0;
          border-radius: 15px;
          background: #fff;
          opacity: 0.1744;

          &:hover {
            cursor: pointer;
            opacity: 0.3;
          }
        }

        .butActive {
          width: 15px;
          height: 15px;
          flex-shrink: 0;
          border-radius: 15px;
          background: #fff;
          opacity: 0.500094;

          &:hover {
            opacity: 0.500094;
          }
        }
      }
    }

    .first {
      width: 568.072px;
      height: 447px;

      @media screen and (min-height: 630px) {
        height: 712px;
      }
    }
    .second {
      width: 453.44px;
      height: 447px;

      @media screen and (min-height: 630px) {
        height: 654px;
      }
    }
    .third {
      width: 554.388px;
      height: 447px;

      @media screen and (min-height: 630px) {
        height: 681px;
      }
    }
    .fourth {
      width: 568.072px;
      height: 447px;

      @media screen and (min-height: 630px) {
        width: 615.567px;
        height: 607px;
      }
    }

    .lowMB {
      width: 500px;
      height: 447px;
      border-radius: 25px;
      background: rgba(255, 255, 255, 0.04);
      backdrop-filter: blur(40.774227142333984px);
    }
  }
}
