@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 --text-color : #D0D6F9;
 --header-color : #FFFFFF;
 --h1-font-size : 150px;
 --h2-font-size : 100px;
 --h3-font-size : 56px;
 --h4-font-size : 32px;
 --h5-font-size : 28px;
 --h5-letter-spacing: 4.725px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
