.homeContainer {
  max-width: 1440px;
  width: 100vw;
  max-height: 900px;
  height: fit-content;
  flex-shrink: 0;
  background-color: #0b0d17;
  background-image: url('/assets/home/background-home-desktop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 2rem;
  padding-bottom: 1.56rem;

  @media screen and (max-width: 1366px) {
    overflow: hidden;
  }
  @media screen and (min-height: 630px) {
    height: 900px;
    padding-bottom: 0;
  }
  @media screen and (max-width: 768px) {
    width: 768px;
    height: 1024px;
    background-image: url('/assets/home/background-home-tablet.jpg');
    padding-top: 0;
    overflow: scroll;
    padding-bottom: 0;
  }

  @media screen and (max-width: 375px) {
    width: 375px;
    height: 667px;
    background-image: url('/assets/home/background-home-mobile.jpg');
    padding-top: 0;
    overflow: hidden;
  }

  main {
    width: 100%;
    height: fit-content;
    margin-top: 140px;
    padding-left: 165px;
    display: flex;

    @media screen and (min-height: 630px) {
      margin-top: 251px;
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
      padding-left: 0;
      align-items: center;
      margin-top: 106px;
      overflow: scroll;
    }

    @media screen and (max-width: 375px) {
      margin-top: 48px;
    }

    .homeContent {
      margin-right: 391px;
      @media screen and (max-width: 768px) {
        margin-right: 0;
        width: fit-content;
      }
      h5 {
        color: #d0d6f9;
        font-family: Barlow Condensed;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 4.725px;
        @media screen and (max-width: 768px) {
          font-size: 20px;
          letter-spacing: 3.375px;
          margin-bottom: 24px;
          text-align: center;
        }
        @media screen and (max-width: 375px) {
          margin-bottom: 16px;
          font-size: 16px;
          letter-spacing: 2.7px;
        }
      }
      h1 {
        color: #fff;
        font-family: Bellefair;
        font-size: 150px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        @media screen and (max-width: 768px) {
          line-height: 150px;
          margin-bottom: 24px;
        }
        @media screen and (max-width: 375px) {
          margin-bottom: 16px;
          font-size: 80px;
          line-height: 100px;
          text-align: center;
        }
      }
      p {
        width: 444px;
        color: #d0d6f9;
        font-family: Barlow;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        @media screen and (max-width: 768px) {
          font-size: 16px;
          line-height: 28px;
        }
        @media screen and (max-width: 375px) {
          width: 327px;
          font-size: 15px;
          line-height: 25px;
          text-align: center;
        }
      }
    }

    .explore {
      width: 274px;
      height: 274px;
      flex-shrink: 0;
      border-radius: 274px;
      position: relative;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      @media screen and (max-width: 768px) {
        width: 242px;
        height: 242px;
        margin-top: 156px;
        margin-bottom: 90px;
      }
      @media screen and (max-width: 375px) {
        width: 150px;
        height: 150px;
        margin-bottom: 48px;
        margin-top: 81px;
      }
      h4 {
        color: #0b0d17;
        font-family: Bellefair;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2px;
        @media screen and (max-width: 375px) {
          font-size: 20px;
          letter-spacing: 1.25px;
        }
      }

      &:hover::before {
        content: '';
        width: 320px;
        height: 320px;
        flex-shrink: 0;
        border-radius: 320px;
        opacity: 0.1036;
        background: #fff;
        position: absolute;
        @media screen and (max-width: 768px) {
          display: none;
        }
      }

      @media screen and (min-width: 1440px) {
        &:hover::before {
          content: '';
          width: 450px;
          height: 450px;
          flex-shrink: 0;
          border-radius: 450px;
          opacity: 0.1036;
          background: #fff;
          position: absolute;
        }
      }
    }
  }
}
