.dest-container {
  width: 100vw;
  height: 100vh;
  background-color: #0b0d17;
  background-image: url('/assets/destination/background-destination-desktop.jpg');
  mix-blend-mode: screen;
  padding-top: 2rem;
  overflow: hidden;

  @media screen and (max-width: 1366px) {
    overflow-x: hidden;
  }
  @media screen and (min-width: 1367px) {
    overflow-x: hidden;
    width: 1440px;
  }

  @media screen and (min-height: 630px) {
    height: 900px;
    overflow-x: hidden;
  }

  @media screen and (max-width: 768px) {
    width: 768px;
    height: 1024px;
    padding-top: 0;
    background-image: url('/assets/destination/background-destination-tablet.jpg');
  }

  main {
    width: fit-content;
    height: fit-content;
    padding-left: 165px;
    margin-top: 30px;
    @media screen and (max-width: 768px) {
      margin-top: 50px;
      width: 100%;
      padding-left: 0;
    }

    h5 {
      color: #fff;
      font-family: Barlow Condensed;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 4.725px;
      text-transform: uppercase;
      @media screen and (max-width: 768px) {
        font-size: 20px;
        letter-spacing: 3.375px;
        margin-left: 38.5px;
      }
      span {
        color: #fff;
        font-family: Barlow Condensed;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 4.725px;
        opacity: 0.25;
        margin-right: 28px;
        @media screen and (max-width: 768px) {
          margin-right: 19px;
          font-size: 20px;
          letter-spacing: 3.375px;
        }
      }
    }

    .static-content {
      width: 100vw;
      height: fit-content;
      position: relative;
      padding-left: 610px;
      margin-top: 10px;

      @media screen and (min-height: 630px) {
        margin-top: 70px;
      }
      @media screen and (max-width: 768px) {
        width: fit-content;
        padding-left: 0;
        margin-top: 0;
        position: absolute;
        right: 0;
        bottom: -8rem;
        left: 0;
        margin: auto;
      }

      .sections {
        width: 285px;
        height: 34px;
        display: flex;
        flex-shrink: 0;
        justify-content: space-between;

        .option {
          color: #d0d6f9;
          font-family: Barlow Condensed;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 2.7px;
          position: relative;
          cursor: pointer;

          &:hover::before {
            content: '';
            width: 41px;
            height: 3px;
            background: #fff;
            opacity: 0.5;
            position: absolute;
            bottom: 0;
          }
        }

        .activeOption {
          color: #d0d6f9;
          font-family: Barlow Condensed;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 2.7px;
          position: relative;
          cursor: pointer;

          &::before {
            content: '';
            width: 56px;
            height: 3px;
            background: #fff;
            position: absolute;
            bottom: 0;
          }
        }
      }
    }

    .dynamic-content {
      width: fit-content;
      height: fit-content;
      display: flex;
      margin-top: 20px;

      @media screen and (min-height: 630px) {
        margin-top: 37px;
      }

      @media screen and (max-width: 768px) {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
      }

      .Img {
        margin-right: 310px;
        height: 300px;
        width: 300px;
        @media screen and (min-height: 630px) {
          height: 500px;
          width: 500px;
          margin-right: 106.5px;
        }

        @media screen and (max-width: 768px) {
          margin-right: 0;
        }
      }
      .write-up {
        width: fit-content;
        height: fit-content;
        @media screen and (max-width: 768px) {
          margin-top: 7rem;
        }

        h1 {
          color: #fff;
          font-family: Bellefair;
          font-size: 100px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          @media screen and (max-width: 768px) {
            font-size: 80px;
            text-align: center;
          }
        }

        p {
          width: 444px;
          color: #d0d6f9;
          font-family: Barlow;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 32px;
          margin-bottom: 20px;
          @media screen and (min-height: 630px) {
            margin-bottom: 54px;
          }
          @media screen and (max-width: 768px) {
            font-size: 16px;
            line-height: 28px;
            text-align: center;
            margin-bottom: 25px;
          }
        }

        .location {
          width: fit-content;
          height: fit-content;
          display: flex;
          position: relative;
          padding-top: 20px;
          @media screen and (min-height: 630px) {
            padding-top: 28px;
          }
          @media screen and (max-width: 768px) {
            padding-top: 28px;
            margin: auto;
          }

          &::before {
            content: '';
            width: 444px;
            height: 1px;
            background: #383b4b;
            position: absolute;
            top: 0;
            @media screen and (max-width: 768px) {
              width: 573px;
              transform: translateX(-20%);
            }
          }

          .distance h6,
          .travel-time h6 {
            color: #d0d6f9;
            font-family: Barlow Condensed;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 2.362px;
            text-transform: uppercase;
            margin-bottom: 12px;
            @media screen and (max-width: 768px) {
              text-align: center;
            }
          }

          .distance h4,
          .travel-time h4 {
            color: #fff;
            font-family: Bellefair;
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
            @media screen and (max-width: 768px) {
              text-align: center;
            }
          }

          div:nth-child(1) {
            margin-right: 65px;
          }
        }
      }
    }
  }
}
