.dest-container {
  width: 100vw;
  height: 100vh;
  background-color: #0b0d17;
  background-image: url('/assets/destination/background-destination-desktop.jpg');
  mix-blend-mode: screen;
  padding-top: 2rem;
  overflow: hidden;

  @media screen and (max-width: 1366px) {
    overflow-x: hidden;
  }
  @media screen and (min-width: 1367px) {
    overflow-x: hidden;
    width: 1440px;
  }

  @media screen and (min-height: 630px) {
    height: 900px;
    overflow-x: hidden;
  }

  @media screen and (max-width: 768px) {
    width: 768px;
    height: 1024px;
    padding-top: 0;
    background-image: url('/assets/destination/background-destination-tablet.jpg');
  }

  @media screen and (max-width: 430px) {
    width: 430px;
    height: 850px;
    background-image: url('/assets/destination/background-destination-mobile.jpg');
  }

  @media screen and (max-width: 375px) {
    width: 375px;
    height: 850px;
    background-image: url('/assets/destination/background-destination-mobile.jpg');
  }

  main {
    width: fit-content;
    height: fit-content;
    padding-left: 165px;
    margin-top: 30px;
    @media screen and (max-width: 768px) {
      margin-top: 50px;
      width: 100%;
      padding-left: 0;
    }
    @media screen and (max-width: 430px) {
      margin-top: 30px;
    }
    @media screen and (max-width: 375px) {
      margin-top: 30px;
    }

    h5 {
      color: #fff;
      font-family: Barlow Condensed;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 4.725px;
      text-transform: uppercase;
      @media screen and (max-width: 768px) {
        font-size: 20px;
        letter-spacing: 3.375px;
        margin-left: 38.5px;
      }
      @media screen and (max-width: 430px) {
        font-size: 16px;
        letter-spacing: 2.7px;
        margin-left: 0;
        text-align: center;
      }
      @media screen and (max-width: 375px) {
        font-size: 16px;
        letter-spacing: 2.7px;
        margin-left: 0;
        text-align: center;
      }
      span {
        color: #fff;
        font-family: Barlow Condensed;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 4.725px;
        opacity: 0.25;
        margin-right: 28px;
        @media screen and (max-width: 768px) {
          margin-right: 19px;
          font-size: 20px;
          letter-spacing: 3.375px;
        }
        @media screen and (max-width: 430px) {
          font-size: 16px;
          letter-spacing: 2.7px;
          margin-left: 0;
        }
        @media screen and (max-width: 375px) {
          font-size: 16px;
          letter-spacing: 2.7px;
          margin-left: 0;
        }
      }
    }

    .dynamic-content {
      width: fit-content;
      height: fit-content;
      display: flex;
      margin-top: 20px;

      @media screen and (min-height: 630px) {
        margin-top: 37px;
      }

      @media screen and (max-width: 768px) {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 55px;
      }
      @media screen and (max-width: 430px) {
        margin-top: 25px;
      }
      @media screen and (max-width: 375px) {
        margin-top: 25px;
      }

      .Img {
        margin-right: 310px;
        margin-top: 30px;
        height: 300px;
        width: 300px;
        @media screen and (min-height: 630px) {
          height: 500px;
          width: 500px;
          margin-right: 106.5px;
        }

        @media screen and (max-width: 768px) {
          margin-top: 0;
          margin-right: 0;
        }
        @media screen and (max-width: 430px) {
          width: 204px;
          height: 204px;
        }
        @media screen and (max-width: 375px) {
          width: 204px;
          height: 204px;
        }
      }
      .write-up {
        width: fit-content;
        height: fit-content;
        @media screen and (max-width: 768px) {
          margin-top: 2.7rem;
        }
        @media screen and (max-width: 430px) {
          margin-top: 2.5rem;
        }
        @media screen and (max-width: 375px) {
          margin-top: 2.5rem;
        }

        .static-content {
          width: fit-content;
          height: fit-content;
          position: relative;

          @media screen and (max-width: 768px) {
            // width: fit-content;
            // padding-left: 0;
            // margin-top: 0;
            // position: absolute;
            // right: 0;
            // bottom: -8rem;
            // left: 0;
            margin: auto;
          }
          @media screen and (max-width: 430px) {
            // bottom: 6.5rem;
          }
          @media screen and (max-width: 375px) {
            // bottom: 6.5rem;
          }

          .sections {
            width: 350px;
            height: 34px;
            display: flex;
            flex-shrink: 0;
            justify-content: space-between;
            @media screen and (max-width: 430px) {
              width: 280px;
              height: 28px;
            }
            @media screen and (max-width: 375px) {
              height: 28px;
            }

            .option {
              width: fit-content;
              color: #d0d6f9;
              font-family: Barlow Condensed;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              letter-spacing: 2.7px;
              position: relative;
              cursor: pointer;
              @media screen and (max-width: 430px) {
                font-size: 14px;
                letter-spacing: 2.362px;
              }
              @media screen and (max-width: 375px) {
                font-size: 14px;
                letter-spacing: 2.362px;
              }

              &:hover::before {
                content: '';
                width: 41px;
                height: 3px;
                background: #fff;
                opacity: 0.5;
                position: absolute;
                bottom: 0;
                @media screen and (max-width: 768px) {
                  display: none;
                }
              }
            }

            .activeOption {
              color: #d0d6f9;
              font-family: Barlow Condensed;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              letter-spacing: 2.7px;
              position: relative;
              cursor: pointer;

              &::before {
                content: '';
                width: 56px;
                height: 3px;
                background: #fff;
                position: absolute;
                bottom: 0;
                @media screen and (max-width: 430px) {
                  width: 36px;
                }
                @media screen and (max-width: 375px) {
                  width: 36px;
                }
              }
            }
          }
        }

        h1 {
          color: #fff;
          font-family: Bellefair;
          font-size: 100px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          @media screen and (max-width: 768px) {
            font-size: 80px;
            text-align: center;
            margin-top: 1.4rem;
          }
          @media screen and (max-width: 430px) {
            margin-top: 1.2rem;
            font-size: 56px;
          }
          @media screen and (max-width: 375px) {
            font-size: 56px;
          }
        }

        p {
          width: 444px;
          color: #d0d6f9;
          font-family: Barlow;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 32px;
          margin-bottom: 20px;
          @media screen and (min-height: 630px) {
            margin-bottom: 54px;
          }
          @media screen and (max-width: 768px) {
            font-size: 16px;
            line-height: 28px;
            text-align: center;
            margin: 15px 0 30px 0;
            width: 573px;
          }
          @media screen and (max-width: 430px) {
            font-size: 15px;
            line-height: 25px;
            width: 327px;
            margin: 11.5px 0 28px 0;
          }
          @media screen and (max-width: 375px) {
            font-size: 15px;
            line-height: 25px;
            width: 327px;
          }
        }

        .location {
          width: fit-content;
          height: fit-content;
          display: flex;
          position: relative;
          padding-top: 20px;
          @media screen and (min-height: 630px) {
            padding-top: 28px;
          }
          @media screen and (max-width: 768px) {
            padding-top: 35px;
            margin: auto;
          }
          @media screen and (max-width: 430px) {
            flex-direction: column;
            padding-top: 26px;
          }
          @media screen and (max-width: 375px) {
            flex-direction: column;
          }

          &::before {
            content: '';
            width: 444px;
            height: 1px;
            background: #383b4b;
            position: absolute;
            top: 0;
            @media screen and (max-width: 768px) {
              width: 573px;
              transform: translateX(-20%);
            }
            @media screen and (max-width: 430px) {
              width: 327px;
              transform: translateX(-26%);
            }
            @media screen and (max-width: 375px) {
              width: 327px;
              transform: translateX(-26%);
            }
          }

          .distance h6,
          .travel-time h6 {
            color: #d0d6f9;
            font-family: Barlow Condensed;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 2.362px;
            text-transform: uppercase;
            margin-bottom: 12px;
            @media screen and (max-width: 768px) {
              text-align: center;
            }
          }

          .distance h4,
          .travel-time h4 {
            color: #fff;
            font-family: Bellefair;
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
            @media screen and (max-width: 768px) {
              text-align: center;
            }
          }

          div:nth-child(1) {
            margin-right: 65px;
            @media screen and (max-width: 430px) {
              margin: 0 0 32px 0;
            }
            @media screen and (max-width: 375px) {
              margin: 0 0 25px 0;
            }
          }
        }
      }
    }
  }
}
