header {
  width: 100vw;
  height: 96px;
  padding-left: 2rem;
  display: flex;
  align-items: center;
  nav {
    width: 830px;
    height: 96px;

    div {
      width: inherit;
      height: inherit;
      position: absolute;
      right: 0;
      display: flex;
      align-items: center;
      background: rgba(255, 255, 255, 0.04);
      backdrop-filter: blur(40.774227142333984px);
      padding-left: 123px;

      .home,
      .destination,
      .crew,
      .technology {
        color: #fff;
        font-family: Barlow Condensed;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2.7px;
        margin-right: 48px;
        width: fit-content;
        height: fit-content;
        position: relative;

        span {
          color: #fff;
          font-family: Barlow Condensed;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 2.7px;
        }
      }
      .home:hover::before,
      .destination:hover::before,
      .crew:hover::before,
      .technology:hover::before {
        content: '';
        width: 98px;
        height: 3px;
        background: #fff;
        position: absolute;
        bottom: 0;
        transform: translate(12%, 2.4rem);
        flex-shrink: 0;
        opacity: 0.5021;
      }
      .destination:hover::before {
        transform: translate(30%, 2.4rem);
      }
      .crew:hover::before {
        transform: translate(0%, 2.4rem);
      }
      .technology:hover::before {
        transform: translate(30%, 2.4rem);
      }
      .technology {
        margin-right: 0;
      }
      .active::before {
        content: '';
        width: 70px;
        height: 3px;
        flex-shrink: 0;
        background: #fff;
        position: absolute;
        bottom: 0;
        transform: translate(15%, 2.4rem);
      }

      &::before {
        content: '';
        width: 473px;
        height: 1px;
        flex-shrink: 0;
        opacity: 0.2515;
        background: #fff;
        position: absolute;
        left: -25rem;
      }
    }
  }
}
