header {
  width: 100vw;
  height: 96px;
  padding-left: 2rem;
  display: flex;
  align-items: center;

  @media screen and (max-width: 375px) {
    position: relative;
    width: fit-content;
    height: fit-content;
  }

  .logo {
    @media screen and (max-width: 375px) {
      margin-top: 24px;
    }
  }
  .hamburger {
    display: none;

    @media screen and (max-width: 375px) {
      display: block;
      width: 24px;
      height: 21px;
      position: absolute;
      margin: 33.9px 0 0 280px;
      z-index: 10;

      .ham {
        width: 24px;
        height: 5px;
        border-bottom: 2px solid #d0d6f9;
        background-color: none;
      }

      .crossHam1,
      .crossHam3 {
        width: 24px;
        height: 5px;
        border-bottom: 2px solid #d0d6f9;
        position: absolute;
      }
      .crossHam1 {
        transform: rotate(45deg);
        transition: transform 400ms ease-in-out;
      }
      .crossHam3 {
        transform: rotate(-45deg);
        transition: transform 400ms ease-in-out;
      }
    }
  }
  @media screen and (max-width: 375px) {
    .show {
      position: absolute;
      transform: translateX(35%);
      transition: transform 500ms ease-in-out;
      z-index: 5;
    }
  }
  nav {
    width: 830px;
    height: 96px;

    @media screen and (max-width: 768px) {
      width: 450px;
    }

    @media screen and (max-width: 375px) {
      position: absolute;
      width: 254px;
      position: absolute;
      transform: translateX(135%);
      transition: transform 500ms ease-in-out;
    }

    div {
      width: inherit;
      height: inherit;
      position: absolute;
      right: 0;
      display: flex;
      align-items: center;
      background: rgba(255, 255, 255, 0.04);
      backdrop-filter: blur(40.774227142333984px);
      padding-left: 123px;
      @media screen and (max-width: 768px) {
        margin-left: 231px;
        padding-left: 0;
        justify-content: space-around;
        position: relative;
      }

      @media screen and (max-width: 375px) {
        flex-direction: column;
        padding-top: 118px;
        padding-left: 32px;
        width: 254px;
        height: 667px;
        justify-content: unset;
        align-items: unset;
        margin-left: 0;
      }

      .home,
      .destination,
      .crew,
      .technology {
        color: #fff;
        font-family: Barlow Condensed;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2.7px;
        margin-right: 48px;
        width: fit-content;
        height: fit-content;
        position: relative;
        @media screen and (max-width: 768px) {
          margin-right: 0;
          font-size: 14px;
          letter-spacing: 2.362px;
        }
        @media screen and (max-width: 375px) {
          font-size: 16px;
          letter-spacing: 2.7px;
          margin-bottom: 32px;
        }

        span {
          color: #fff;
          font-family: Barlow Condensed;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 2.7px;
          margin-right: 12px;
          @media screen and (max-width: 768px) {
            display: none;
          }
          @media screen and (max-width: 375px) {
            display: inline;
          }
        }
      }
      .home:hover::before,
      .destination:hover::before,
      .crew:hover::before,
      .technology:hover::before {
        content: '';
        width: 98px;
        height: 3px;
        background: #fff;
        position: absolute;
        bottom: 0;
        transform: translate(12%, 2.4rem);
        flex-shrink: 0;
        opacity: 0.5021;
        @media screen and (max-width: 768px) {
          display: none;
        }
      }
      .destination:hover::before {
        transform: translate(30%, 2.4rem);
        @media screen and (max-width: 768px) {
          display: none;
        }
      }
      .crew:hover::before {
        transform: translate(0%, 2.4rem);
        @media screen and (max-width: 768px) {
          display: none;
        }
      }
      .technology:hover::before {
        transform: translate(30%, 2.4rem);
        @media screen and (max-width: 768px) {
          display: none;
        }
      }
      .technology {
        margin-right: 0;
      }
      .active::before {
        content: '';
        width: 70px;
        height: 3px;
        flex-shrink: 0;
        background: #fff;
        position: absolute;
        bottom: 0;
        transform: translate(15%, 2.4rem);
        @media screen and (max-width: 768px) {
          width: 36px;
          height: 3px;
        }
        @media screen and (max-width: 375px) {
          display: none;
        }
      }

      &::before {
        content: '';
        width: 473px;
        height: 1px;
        flex-shrink: 0;
        opacity: 0.2515;
        background: #fff;
        position: absolute;
        left: -25rem;
        @media screen and (max-width: 768px) {
          display: none;
        }
      }
    }
  }

  // @media screen and (max-width: 375px) {
  //   .show {
  //     position: absolute;
  //     // width: 254px;
  //     position: absolute;
  //     // transform: translateX(130%);
  //     transform: translateX(35%);
  //     // margin: auto;
  //   }
  // }
}
