.techContainer {
  max-width: 1440px;
  width: 100vw;
  max-height: 900px;
  height: auto;
  flex-shrink: 0;
  background-color: #0b0d17;
  background-repeat: no-repeat;
  background-image: url("/assets/technology/background-technology-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 2rem;
  padding-bottom: 1.2rem;
  margin: auto;

  @media screen and (max-width: 1366px) {
    overflow-x: hidden;
  }
  @media screen and (min-width: 1367px) {
    overflow: hidden;
    width: 1440px;
  }

  @media screen and (min-height: 630px) {
    height: 900px;
    padding-bottom: 0;
  }

  @media screen and (max-width: 768px) {
    width: 768px;
    height: 1024px;
    background-image: url("/assets/technology/background-technology-tablet.jpg");
  }

  @media screen and (max-width: 375px) {
    width: 375px;
    height: 710px;
    background-image: url("/assets/technology/background-technology-mobile.jpg");
  }

  .tech-main {
    width: fit-content;
    height: fit-content;
    padding-left: 165px;
    margin-top: 30px;

    @media screen and (min-height: 630px) {
      margin-top: 76px;
    }
    @media screen and (max-width: 768px) {
      padding-left: 0;
      padding-top: 27px;
      margin: auto;
    }

    h5 {
      color: #fff;
      font-family: Barlow Condensed;
      font-size: 28px;
      font-weight: 400;
      letter-spacing: 4.725px;
      @media screen and (max-width: 768px) {
        font-size: 20px;
        letter-spacing: 3.375px;
        margin: 0 0 20px 38.5px;
      }

      @media screen and (max-width: 375px) {
        text-align: center;
        font-size: 16px;
        letter-spacing: 2.7px;
        margin: 0 0 20px 0;
      }
      span {
        color: #fff;
        font-family: Barlow Condensed;
        font-size: 28px;
        font-weight: 700;
        letter-spacing: 4.725px;
        opacity: 0.25;
        margin-right: 24px;
        @media screen and (max-width: 768px) {
          font-size: 20px;
          letter-spacing: 3.375px;
          margin-right: 16px;
        }
        @media screen and (max-width: 375px) {
          text-align: center;
          font-size: 16px;
          letter-spacing: 2.7px;
        }
      }
    }

    .tech-sections {
      width: fit-content;
      height: fit-content;
      display: flex;

      @media screen and (max-width: 768px) {
        flex-direction: column-reverse;
        align-items: center;
      }

      .left {
        width: fit-content;
        height: fit-content;
        display: flex;
        @media screen and (max-width: 768px) {
          flex-direction: column;
          padding-top: 40px;
        }
        .tech-circles {
          width: fit-content;
          height: fit-content;
          display: flex;
          flex-direction: column;
          margin-right: 80px;
          margin-top: 50px;
          @media screen and (min-height: 630px) {
            margin-top: 137px;
          }
          @media screen and (max-width: 768px) {
            flex-direction: row;
            margin: 30px 0 0 0;
            margin: auto;
          }
          .circle {
            width: 80px;
            height: 80px;
            border: 1px solid #fff;
            border-radius: 50%;
            flex-shrink: 0;
            opacity: 0.25;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            @media screen and (max-width: 768px) {
              width: 60px;
              height: 60px;
            }
            @media screen and (max-width: 375px) {
              width: 40px;
              height: 40px;
            }

            span {
              color: #fff;
              text-align: center;
              font-family: Bellefair;
              font-size: 32px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              letter-spacing: 2px;
              @media screen and (max-width: 768px) {
                font-size: 24px;
              }
              @media screen and (max-width: 375px) {
                font-size: 16px;
              }
            }

            &:hover {
              opacity: 1;
              @media screen and (max-width: 768px) {
                // display: none;
              }
            }
          }
          // selected circle
          .activeCircle {
            width: 80px;
            height: 80px;
            background-color: #fff;
            border-radius: 50%;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            @media screen and (max-width: 768px) {
              width: 60px;
              height: 60px;
            }
            @media screen and (max-width: 375px) {
              width: 40px;
              height: 40px;
            }

            span {
              color: #0b0d17;
              text-align: center;
              font-family: Bellefair;
              font-size: 32px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              letter-spacing: 2px;
              @media screen and (max-width: 768px) {
                font-size: 24px;
              }
              @media screen and (max-width: 375px) {
                font-size: 16px;
              }
            }
          }

          div:nth-child(1),
          div:nth-child(2) {
            margin-bottom: 32px;
            @media screen and (max-width: 768px) {
              margin: 0 16px 0 0;
            }
          }
        }

        .content {
          margin: 50px 160.37px 0 0;

          @media screen and (min-height: 630px) {
            margin-top: 137px;
          }

          @media screen and (max-width: 768px) {
            margin: 44px 0 0 0;
          }
          @media screen and (max-width: 375px) {
            margin-top: 26px;
          }

          h6 {
            color: #d0d6f9;
            font-family: Barlow Condensed;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 2.7px;
            margin-bottom: 11px;
            @media screen and (max-width: 768px) {
              text-align: center;
              margin-bottom: 16px;
            }
            @media screen and (max-width: 375px) {
              margin-bottom: 9px;
              font-size: 14px;
              letter-spacing: 2.362px;
            }
          }
          h1 {
            color: #fff;
            font-family: Bellefair;
            font-size: 56px;
            font-style: normal;
            font-weight: 400;
            margin-bottom: 17px;
            @media screen and (max-width: 768px) {
              text-align: center;
              margin-bottom: 16px;
              font-size: 40px;
            }
            @media screen and (max-width: 375px) {
              margin-bottom: 9px;
              font-size: 24px;
            }
          }
          p {
            width: 444px;
            color: #d0d6f9;
            font-family: Barlow;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
            @media screen and (max-width: 768px) {
              text-align: center;
              width: 458px;
              font-size: 16px;
              line-height: 28px;
            }
            @media screen and (max-width: 375px) {
              width: 327px;
              font-size: 15px;
              line-height: 25px;
            }
          }
        }
      }

      .tech-content {
        width: fit-content;
        height: fit-content;
        // display: flex;

        .tImg {
          height: 400px;
          @media screen and (min-height: 630px) {
            height: 527px;
          }
          @media screen and (max-width: 768px) {
            width: 767px;
            height: 350px;
          }
          @media screen and (max-width: 375px) {
            width: 373px;
            height: 245px;
          }
        }
      }
    }
  }
}
